/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar {
    position: sticky;
    width: 100%;
    /*
    background-color: rgba(0,0,0,.2);
    */
    /*background: url("documentation/img/photos/closeUpDeskFinal-min.jpg") no-repeat;*/

}

/*
body {
    background-color: azure;
}
*/

.img-main {
    max-width: 100%;
    height: auto;
}

.aboutimg {
    max-width: 90%;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.stroke {
    h-shadow: 1;
}

/*
Sticky navbar
*/
.sticky-top {
    position: sticky;
}


p {
    font-family: "futura";
}


h2,h3,h1,h4,h6 {
    font-family: "Futura";
}

.aboutgrad {
    background-image: linear-gradient(to right, rgb(56, 222, 199), rgb(91, 192, 222));
}
/*


 */

.shake:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
